---
layout: default
---

<section id="light-card">
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Artigos aceitos</h2>
        <p class="lead">Após a avaliação por especialistas dos artigos submetidos ao ERAD/RS 2023, para os fóruns de IC e PG, os seguintes artigos foram aceitos para a publicação no evento. Cada artigo deverá ser apresentado em 10 minutos, com 5 minutos adicionais para  discussões e perguntas da plateia, de acordo com o cronograma presente <a href="/eradrs2023/cronograma">aqui</a>.</p>
        <h3>Artigos da modalidade Iniciação Científica (IC)</h4>
        <p class="lead">Em breve...</p>
        <br>
        <div>
            {% for session in site.data.artigos_aceitos.ic-track %}
            <div id="{{ session.id }}">
                <h4 class="session-info">Sessão {{ forloop.index }}: {{ session.title }}</h4>
                <div class="session-info">
                    <h6 class="session-info">
                      <span class="session-info">Horário e local</span>: {{ session.date }} ({{ session.start_time }} - {{ session.end_time }}) — {{ session.room }}
                    </h6>
                    <h6 class="session-info">
                      <span class="session-info">Chair</span>: {{ session.chair.name }} {%- if session.chair.institution -%}({{ session.chair.institution }}) {%- endif -%}
                    </h6>
                </div>
                <div class="session-papers">
                    {% for paper in session.papers %}
                        <div class="session-paper">
                            <h5 class="session-paper-title">{{ paper.title }}</h5>
                            <h6>
                                {% for author in paper.authors %}
                                    {{ author.name }} ({{ author.institution }}){% if forloop.rindex == 2 %} e {% elsif forloop.rindex == 1 %}{% else %}, {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if forloop.rindex >= 2 %}<hr><br>{% endif %}
            {% endfor %}
        </div>
        <h3>Artigos da modalidade Pós-Graduação (PG)</h4>
        <p class="lead">
            Os artigos aprovados para o fórum de Pós-Graduação da ERAD/RS 2023 estão divididas em 3 sessões, de acordo com a área de concentração do artigo. Confira os detalhes de cada sessão abaixo.
        </p>
        <br>
        <div>
            {% for session in site.data.artigos_aceitos.pg-track %}
            <div id="{{ session.id }}">
                <h4 class="session-info">Sessão {{ forloop.index }}: {{ session.title }}</h4>
                <div class="session-info">
                    <h6 class="session-info">
                      <span class="session-info">Horário e local</span>: {{ session.date }} ({{ session.start_time }} - {{ session.end_time }}) — {{ session.room }}
                    </h6>
                    <h6 class="session-info">
                      <span class="session-info">Chair</span>: {{ session.chair.name }} {%- if session.chair.institution -%}({{ session.chair.institution }}) {%- endif -%}
                    </h6>
                </div>
                <div class="session-papers">
                    {% for paper in session.papers %}
                        <div class="session-paper">
                            <h5 class="session-paper-title">{{ paper.title }}</h5>
                            <h6>
                                {% for author in paper.authors %}
                                    {{ author.name }} ({{ author.institution }}){% if forloop.rindex == 2 %} e {% elsif forloop.rindex == 1 %}{% else %}, {% endif %}
                                {% endfor %}
                            </h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if forloop.rindex >= 2 %}<hr><br>{% endif %}
            {% endfor %}
        </div>
        <br>
        <br>
    </div>
</section>
