---
layout: default
---

<section id="light-card">
  <div class="p-2 container col-sm-12 col-lg-8 text-justify">
    <h2 class="p-4 text-center">Artigos aceitos</h2>
    <p class="lead">Após a avaliação por especialistas dos artigos submetidos ao ERAD/RS 2023, para os fóruns de IC e PG, os seguintes artigos foram aceitos para a publicação no evento. Cada artigo deverá ser apresentado em 10 minutos, com 5 minutos adicionais para  discussões e perguntas da plateia, de acordo com o cronograma presente <a href="/cronograma">aqui</a>.</p>
  <h4>Artigos da modalidade Iniciação Científica (IC)</h4>
  <ul>
    {% for forum in site.data.artigos_aceitos.IC %}
      <li class="lead mt-4">{{ forum.sessao }}</li>
      <p class="text-secondary mb-0">Chair da Sessão: {{ forum.chair }}</p>
      <p class="text-secondary">Local: {{ forum.local }}</p>
      <ul>
        {% for artigo in forum.artigos %}
          <li class="mb-0">{{ artigo.titulo }}</li>
          <p class="text-secondary mb-2">{{ artigo.autores }}</p>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
  <h4>Artigos da modalidade Pós-Graduação (PG)</h4>
  <p class="lead">Em breve...</p>
  </div>
</section>
