---
layout: default
title: "Cronograma"
---

<section id="light-card">
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Cronograma</h2>
        <!-- <p class="lead text-center">
            Em breve o cronograma completo do evento estará disponível.
        </p> -->
        <br>
        <div>
            <div class="row">
                <ul class="nav nav-tabs justify-content-center" id="schedule-tab" role="tablist">
                    {% for day in site.data.cronograma.schedule %}
                    <li class="nav-item" role="presentation">
                        {%- if forloop.index == 1 -%}
                        <button class="nav-link active" id="tab-{{ day.id }}" data-bs-toggle="tab" data-bs-target="#schedule-{{ day.id }}" type="button" role="tab" aria-controls="schedule-{{ day.id }}" aria-selected="true">
                        {%- else -%}
                        <button class="nav-link" id="tab-{{ day.id }}" data-bs-toggle="tab" data-bs-target="#schedule-{{ day.id }}" type="button" role="tab" aria-controls="schedule-{{ day.id }}" aria-selected="true">
                        {%- endif -%}
                            {{ day.event-day }}
                            <br>
                            {{ day.calendar-day }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content">
                {% for day in site.data.cronograma.schedule %}
                {%- if forloop.index == 1 -%}
                <div id="schedule-{{day.id}}" class="tab-pane show active" role="tabpanel">
                {%- else -%}
                <div id="schedule-{{day.id}}" class="tab-pane" role="tabpanel">
                {%- endif -%}
                    {% for event in day.events %}
                    <div class="row event-row">
                        <div class="col-md-2 event-info">
                            <p class="event-time">
                                {{ event.start_time }} - {{ event.end_time }}
                            </p>
                            <p class="event-room">
                                {{ event.room }}
                            </p>
                        </div>
                        {% if event.type == "general" %}
                        <div class="col-md-10 event-info">
                            <div class="event-section">
                                <h5>
                                    {% if event.link %}
                                    <a class="event-title" href="{{ event.link }}" target="_blank">
                                        {{ event.title }}
                                    </a>
                                    {% else %}
                                        {{ event.title }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="event-section">
                                <p class="event-description">
                                    {{ event.description }}
                                </p>
                            </div>
                        </div>
                        {% elsif event.type == "lecture" or event.type == "workshop" %}
                        <div class="col-md-10 event-info">
                            <div class="event-section">
                                <h5>
                                    {% if event.link %}
                                    <a class="event-title" href="{{ event.link }}" target="_blank">
                                        {{ event.title }}
                                    </a>
                                    {% else %}
                                        {{ event.title }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="event-section">
                                <span class="event-speakers-intro">Apresentação:</span>
                                {% for speaker in event.speakers %}
                                <span class="event-speaker">{{ speaker.name }}</span>
                                {% if speaker.institution %}
                                <span class="event-speaker-institution">
                                    ({{ speaker.institution }}){% if forloop.rindex == 2 %} e {% elsif forloop.rindex == 1 %}{% else %}, {% endif %}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="event-section">
                                <p class="event-description">
                                    {{ event.description }}
                                </p>
                            </div>
                        </div>
                        {% elsif event.type == "ictrack" or event.type == "pgtrack" %}
                        <div class="col-md-10 event-info">
                            <div class="event-section">
                                <h5>
                                    {% if event.link %}
                                    <a class="event-title" href="{{ event.link }}" target="_blank">
                                        {{ event.title }}
                                    </a>
                                    {% else %}
                                        {{ event.title }}
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="event-section">
                                {% if event.chair %}
                                <span class="event-chairs-intro">Chair:</span>
                                <span class="event-chair">
                                    {{ event.chair.name }}
                                </span>
                                <span class="event-chair-institution">
                                    ({{ event.chair.institution }})
                                </span>
                                {% endif %}
                            </div>
                            <div class="event-section">
                                {% for paper in event.papers %}
                                <p class="event-paper">
                                    {{ paper.title }}
                                </p>
                                {% if paper.authors %}
                                <p class="event-paper-authors">
                                    {{ paper.authors }}
                                </p>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
    </div>
</section>
