---
layout: default
---

<section id="light-card">
  <div class="p-2 container col-sm-12 col-lg-8 text-justify">
    <h2 class="p-4 text-center">Organização</h2>
    <div class="col-lg-6 col-sm-12">
      <h4>Coordenação Geral</h4>
      <ul>
        {% for nome in site.data.organizacao.coordenacao-geral %}
          <li>{{ nome }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 col-sm-12">
        <h4>Coordenação Local</h4>
        <ul>
          {% for nome in site.data.organizacao.coordenacao-local %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>Coordenação Iniciação Científica</h4>
        <ul>
          {% for nome in site.data.organizacao.coordenacao-ic %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>Coordenação Pós-Graduação</h4>
        <ul>
          {% for nome in site.data.organizacao.coordenacao-pg %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>Coordenação Minicursos</h4>
        <ul>
          {% for nome in site.data.organizacao.coordenacao-minicursos %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>Coordenação Maratona Paralela</h4>
        <ul>
          {% for nome in site.data.organizacao.coordenacao-maratona %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>WHPC</h4>
        <ul>
          {% for nome in site.data.organizacao.whpc %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>Equipe Local</h4>
        <ul>
          {% for nome in site.data.organizacao.equipe-local %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 col-sm-12">
        <h4>Comitê de Programa de IC</h4>
        <ul>
          {% for nome in site.data.organizacao.comite-ic %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12">
        <h4>Comitê de Programa de PG</h4>
        <ul>
          {% for nome in site.data.organizacao.comite-pg %}
            <li>{{ nome }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>