---
layout: default
---


<section id="light-card">
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">WIA - Workshop de Inteligência Artificial</h2>
        <br>
        <h3>Organização Geral</h3>
        <div class="col-lg-8 col-sm-12">
            <ul>
                <li>Dalvan Griebler (PUCRS/Setrem)</li>
                <li>Lucas Silveira Kupssinskü (PUCRS)</li>
            </ul>
        </div>
    </div>
    <br><br>
</section>

<section id="light-card">
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
        <div class="tab-content">
            {% for tutorial in site.data.wia.tutorials %}
            <div id="{{ tutorial.id }}" class="tutorial">
                <h3>{{ tutorial.title }}</h3>
                <p class="lead">
                    <b>Resumo</b>: {{ tutorial.abstract }}
                </p>
                <div class="row">
                    <h4>Autores</h4>
                    {% for author in tutorial.authors %}
                    <div class="col-md tutorial-author">
                        {% if author.photo %}
                        <img class="rounded-circle author-photo" src="img/{{ author.photo }}" alt="{{ author.name }}">
                        {% endif %}
                        <h5>{{ author.name }}</h5>
                        <p class="lead author-bio">
                            {{ author.bio }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <div class="p-2 container col-sm-12 col-lg-8 text-justify">
        <div class="tab-content">
            {% for p in site.data.wia.painel %}
            <div id="{{ tutorial.id }}" class="tutorial">
                <h3>{{ p.title }}</h3>
                <p class="lead">
                    <b>Resumo</b>: {{ p.abstract }}
                </p>
                <div class="row">
                    <h4>Autores</h4>
                    {% for author in p.authors %}
                    <div class="col-md tutorial-author">
                        {% if author.photo %}
                        <img class="rounded-circle author-photo" src="img/{{ author.photo }}" alt="{{ author.name }}">
                        {% endif %}
                        <h5>{{ author.name }}</h5>
                        <p class="lead author-bio">
                            {{ author.bio }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
</section>



