<footer class="jumbotron jumbotron-fluid mb-0" id="jumbotron">
    <style>
        p {
            font-size: 20px;
        }

        .img_diamante {
            width: auto;
            height: 120px;
        }

        .img_ouro {
            width: auto;
            height: 100px;
        }

        .img_prata {
            width: auto;
            height: 80px;
        }

        .img_prataa {
            width: auto;
            height: 45px;
        }

        .img_prataaa {
            width: auto;
            height: 60px;
        }

        @media (min-width: 768px) {
            p {
                font-size: 25px;
            }

            .img_diamante {
                width: auto;
                height: 120px;
            }

            .img_ouro {
                width: auto;
                height: 100px;
            }

            .img_prata {
                width: auto;
                height: 80px;
            }

            .img_prataa {
                width: auto;
                height: 60px;
            }

            .img_prataaa {
                width: auto;
                height: 80px;
            }
        }

        .grid-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            /* background-color: rgba(200, 200, 200, 0.8); */
            /* gap: 2px; */
        }

        .grid-container > div {
            /* border: 1px solid rgba(0, 0, 0, 0.8); */
            text-align: center;
            padding: 20px 0;
        }

        .sbc {
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .apoio {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .org {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        .fomento {
            grid-column-start: 4;
            grid-column-end: 5;
        }
        .diamante {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .ouro {
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .prata {
            grid-column-start: 1;
            grid-column-end: 5;
        }
    </style>
    <div class="grid-container">
        <div class="sbc">
            <b><p>Realização</p></b>
            <figure class="sbc">
                <a href="http://www.sbc.org.br" target="_blank"><img src="img/logo-sbc.png" class="img_diamante" /></a>
            </figure>
        </div>
        <div class="org">
            <b><p>Organização</p></b>
            <figure class="org">
                <a href="http://www.pucrs.br" target="_blank"><img src="img/logo-pucrs.png" class="img_diamante" /></a>
                <img src="img/spacer.png" style="width: 5%; height: 1%" />
                <a href="http://www.ufsc.br" target="_blank"><img src="img/logo-ufsc.png" class="img_diamante" /></a>
            </figure>
        </div>
        <div class="fomento">
            <b><p>Fomento</p></b>
            <figure class="org">
                <!-- <img src="img/logo.png" class="img_diamante" /> -->
                <a href="https://fapergs.rs.gov.br/" target="_blank"><img src="img/logo-fapergs.jpeg" class="img_ouro"></a>
                <!-- <img src="img/spacer.png" style="width: 5%;height: 1%;">
                <a href="http://www.capes.gov.br" target="_blank"><img src="img/logo-capes.png" class="img_topo"></a> -->
            </figure>
        </div>

        <div class="apoio">
            <b><p>Apoio</p></b>
            <figure class="org">
                <div>
                    <a href="https://www.ufpel.edu.br" target="_blank"><img src="img/logo-ufpel.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://unipampa.edu.br" target="_blank"><img src="img/logo-unipampa.jpg" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.ufrgs.br" target="_blank"><img src="img/logo-ufrgs.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.furg.br" target="_blank"><img src="img/logo-furg.png" class="img_diamante" /></a>
                </div>
                <div>
                    <a href="https://www.unioeste.br" target="_blank"><img src="img/logo-unioeste.png" class="img_ouro" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.unijui.edu.br" target="_blank"><img src="img/logo-unijui.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.unisinos.br" target="_blank"><img src="img/logo-unisinos.png" class="img_diamante" /></a>
                    <img src="img/spacer.png" style="width: 5%; height: 1%" />
                    <a href="https://www.udesc.br" target="_blank"><img src="img/logo-udesc.jpg" class="img_diamante" /></a>
                </div>
            </figure>
        </div>

        <div class="prata">
            <br />
            <b><p>Patrocinadores</p></b>
        </div>
        <div class="diamante">
            <p>Diamante</p>
            <figure class="org">
                <img src="img/logo.png" class="img_diamante" />
                <!-- <a href="https://www.dell.com" target="_blank"><img src="img/logo-dell.png" class="img_prata"></a>
      <img src="img/spacer.png" style="width: 7%;height: 1%;">
      <a href="http://intel.com" target="_blank"><img src="img/logo-intel.png" class="img_prata"></a>
      <img src="img/spacer.png" style="width: 7%;height: 1%;">
      <a href="https://sdc.com.br" target="_blank"><img src="img/logo-sdc.png" class="img_prata"></a>
      <img src="img/spacer.png" style="width: 5%;height: 1%;">
      <a href="https://www.seagate.com/" target="_blank"><img src="img/logo-seagate.png" class="img_diamante"></a> -->
            </figure>
        </div>
        <div class="ouro">
            <p>Ouro</p>
            <figure class="org">
                <img src="img/logo.png" class="img_ouro" />

                <!-- <a href="http://laniaq.com" target="_blank"><img src="img/logo-laniaq.png" class="img_prataaa"></a>
      <img src="img/spacer.png" style="width: 7%;height: 1%;">
      <a href="http://lenovo.com" target="_blank"><img src="img/logo-lenovo.png" class="img_prataa"></a> -->
            </figure>
        </div>
        <div class="prata">
            <p>Prata</p>
            <figure class="org">
                <img src="img/logo.png" class="img_prata" />
                <!-- 
      <a href="https://www.hpe.com" target="_blank"><img src="img/logo-hpe.png" class="img_prataa"></a>
      <img src="img/spacer.png" style="width: 5%;height: 1%;">
      <a href="http://www.globo.com" target="_blank"><img src="img/logo-globo.png" class="img_prata"></a>
      <img src="img/spacer.png" style="width: 5%;height: 1%;">
      <a href="https://www.lexisnexis.com" target="_blank"><img src="img/logo-lexisnexis.png" class="img_prataaa"></a> -->
            </figure>
        </div>
    </div>

    <!-- 
  <div class="container col-sm-12 col-lg-9">    
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h2>Apoio e Patrocínio</h2>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h2>Apoio e Patrocínio</h2>
      </div>  
    </div>
  </div> -->
</footer>

<div class="grid-container social-icons">
    <div style="grid-column-start: 1; grid-column-end: 5">
        <a class="btn btn-social" href="https://www.instagram.com/eradrs.sbc/" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>

        <a class="btn btn-social" href="https://www.facebook.com/eradrs.sbc/" target="_blank">
            <i class="bi bi-facebook"></i>
        </a>

        <a class="btn btn-social" href="https://www.youtube.com/eradrs/" target="_blank">
            <i class="bi bi-youtube"></i>
        </a>

        <br />
        <br />

        <h1>ERAD/RS 2023</h1>
        <p>Todos os direitos reservados</p>
    </div>
</div>

<!-- apoio e patrocinio
<section class="pb-1 container col-sm-12 col-lg-8 text-justify mt-4" id="apoio">
  
</section> -->
