<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container container_header">
            <div class="row">
                <div class="div_logo_eradrs" style="position: relative">
                    <a class="logo_sbc_anchor" href="https://www.sbc.org.br/" target="_blank">
                        <span>Realização:</span>
                        <br />
                        <img class="logo_sbc" src="img/SBC.svg" alt="logo sbc" />
                    </a>
                    <a class="logo_eradrs_anchor" href="/eradrs2023/">
                        <img class="p-1 logo_eradrs" src="img/Branco.png" alt="logo eradrs 2023" />
                    </a>
                </div>
            </div>
            <h1 class="display-6 text-white text-center">XXIII Escola Regional de Alto Desempenho da Região Sul</h1>
        </div>
    </div>
</header>
