<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container container_header">
      <div class="row">
        <div class="div_logo_eradrs" style="position: relative;">
          <a class="logo_eradrs_anchor" href="/">
            <img class="p-1 logo_eradrs" src="img/Branco.png" alt="logo eradrs 2023">
          </a>
          <a class="logo_sbc_anchor" href="https://www.sbc.org.br/">
            <span>Realização:</span>
            <img class="logo_sbc"src="img/SBC.svg" alt="logo sbc">
          </a>
        </div>
      </div>
      <h1 class="pt-4 display-6 text-white text-center">XXIII Escola Regional de Alto Desempenho da Região Sul</h1>
    </div>
  </div>
</header>

<!--<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container" style="padding-top: 135px;">
      <div class="row align-items-center">
        <div class="col-lg-10 col-9">
          <a class="logo_eradrs_anchor" href="/">
            <span>XXIII Escola Regional de Alto Desempenho da Região Sul</span>
            <img class="p-3 logo_eradrs" src="img/eradrs2023.jpeg" alt="">
          </a>
        </div>
        <div class="col-lg-2 col-3">
          <a class="logo_sbc_anchor" href="">
            <span>Realização:</span>
            <img class="logo_sbc"src="img/sbc.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>-->
