<header>
  <div class="jumbotron jumbotron-fluid">
    <!--<div class="container">
      <div class="row">
        <div class="col-lg-10 col-9">
          <a class="logo_eradrs_anchor" href="/">
            <img class="p-5 logo_eradrs" src="img/LOGO-SEM-ASSINATURA-ERAD-2022-12.png" alt="">
            <span>XXII Escola Regional de Alto Desempenho da Região Sul</span>
          </a>
        </div>
        <div class="col-lg-2 col-3">
          <a class="logo_sbc_anchor" href="">
            <span>Realização:</span>
            <img class="logo_sbc"src="/img/sbc.png" alt="">
          </a>
        </div>
      </div>
    </div>-->
  </div>
</header>