<div id="nav_bar">
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container text-uppercase">
      <a class="navbar-brand" href="/eradrs2023">
        <img src="img/Preto_2.png" alt="Logo" width="86" height="50" class="d-inline-block align-middle">
        ERADRS 2023
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;">
        <ul class="navbar-nav m-2">
          <li class="nav-item">
            <a id="nav-a" class="nav-item nav-link" href="/eradrs2023">Início</a>
          </li>
          <li class="nav-item">
            <a id="nav-a" class="nav-item nav-link" href="/eradrs2023/inscricoes">Inscrições</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Programação
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/eradrs2023/palestras">Palestras</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/minicursos">Minicursos</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/artigos_aceitos">Artigos Aceitos</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/cronograma">Cronograma</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Submissões
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/eradrs2023/chamada_de_trabalhos">Chamada de trabalhos</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/propostas_de_minicursos">Propostas de minicursos</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/artigos_aceitos">Artigos Aceitos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a id="nav-a" class="nav-item nav-link" href="/eradrs2023/local">Local</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Eventos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/eradrs2023/maratona">Maratona</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/whpc">WHPC</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/certificados">Certificados</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/premiacoes">Premiações</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/anais">Anais</a></li>
              <li><a class="dropdown-item" href="/eradrs2023/fotos">Fotos</a></li>
              <li><a class="dropdown-item" href="https://cradrs.github.io/erad-rs#edicoes" target="_blank">Edições anteriores</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a id="nav-a" class="nav-item nav-link" href="/eradrs2023/organizacao">Organização</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
