@media (max-width: 768px) {
    li,
    td,
    th,
    p.lead {
        font-size: 0.8rem;
    }

    p.lead.author-bio,
    p.lead.speaker-bio,
    p.lead.keynote-date,
    p.lead.tutorial-date,
    p.lead.tutorial-pdf,
    li.lead,
    td.lead {
        font-size: 0.72rem;
    }

    h6 {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

@media (min-width: 769px) {
    h4 {
        /*font-weight: 300;*/
        line-height: 1.2;
        padding: 1rem 0;
    }

    h6 {
        font-weight: 300;
        line-height: 1.2;
    }

    p.lead.author-bio,
    p.lead.speaker-bio,
    p.lead.keynote-date,
    p.lead.tutorial-date,
    p.lead.tutorial-pdf,
    li.lead,
    td.lead {
        font-size: 1.125rem;
    }

    /*p, p.lead, li, td, th {
    font-size: .9rem;
  }*/
}

h4 {
    line-height: 1.2;
    /*text-align: center;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}

/*h4::before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgb(143 188 143);
  margin: 1rem;
}*/

/*h4::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgb(143 188 143);
  border-bottom: 2px solid rgb(189, 189, 189);
  margin: 1rem;
}*/

li {
    margin-bottom: 0.5rem;
}

li.lead + a {
    text-decoration: none;
    background-color: blue;
}
