/*footer {
    background-color: rgb(143 188 143);
}*/

#jumbotron {
    padding: 2rem 2rem;
}

.logo_cradrs_footer {
    width: 40%;
}

.social-icons {
    color: white;
    background-color: #212529;
}

.social-icons h1 {
    font-size: x-large;
}

.social-icons p {
    font-size: large;
    color: #cfcfcf;
}

.btn-social {
    font-size: 32px;
    color: white;
}

.btn-social:hover {
    color: #cfcfcf !important;
}
