#light-card {
    margin-top: -3rem;
    border-radius: 40px 40px 0 0;
    background-color: #f8f9fa;
}

/*#light-card .lead {
  font-size: 1rem;
}*/

#white-card {
    padding: 3rem;
    background-color: white;
    color: #212529;
    margin-left: auto;
    margin-right: auto;
}

#dark-card {
    padding: 3rem;
    background-color: #212529;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#sobre_sbc {
    background-color: #f8f9fa;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* #sobre_sbc p {
    font-size: 1rem;
} */

/*
#sobre_3 {
  margin-top: -3rem;
  border-radius: 40px 40px 0 0;
  background-color: #f8f9fa;
}

#sobre_4 {
  margin-top: -6rem;
  border-radius: 40px 40px 0 0;
  background-color: #f8f9fa;
  margin-left: auto;
  margin-right: auto;
}

#programacao_4 {
  background-color: #212529;
  color: white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#apoio {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}*/
