.table th {
    height: 5rem;
    text-align: center;
    vertical-align: middle;
}

.table td {
    height: 7rem;
    vertical-align: middle;
}

.table td .td-color {
    background-color: #f0f0f0;
}

.bg-secondary {
    color: #f1f1f1;
}

img,
.table-responsive {
    margin-bottom: 1.5rem;
}

.registration-summary {
    color: black;
    text-decoration: none;
}
