---
layout: default
---

<!-- sobre -->
<section id="light-card">
    <div class="p-2 pb-5 container col-sm-12 col-lg-8 text-justify">
        <h2 class="p-4 text-center">Seja bem-vindo(a) à ERAD/RS 2023!</h2>
        <p class="lead">
            A XXIII Escola Regional de Alto Desempenho da Região Sul (ERAD/RS 2023) será realizada entre os dias 10 a 12 de maio de
            2023, na Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS), em Porto Alegre/RS. A ERAD/RS é realizada
            anualmente pela Sociedade Brasileira de Computação (SBC) e pela Comissão Regional de Alto Desempenho da Região Sul
            (CRAD/RS).
        </p>
        <p class="lead">
            O público alvo da ERAD/RS 2023 são alunos, profissionais e professores/pesquisadores que atuam direta ou indiretamente na
            computação de alto desempenho e em áreas correlatas. O evento engloba a região sul do Brasil (RS, SC e PR).
        </p>
        <p class="lead">Os principais objetivos são:</p>
        <ul>
            <li>Qualificar os profissionais do sul do Brasil nas áreas que compõem o processamento de alto desempenho;</li>
            <li>Prover um fórum regular onde possam ser apresentados os avanços recentes nessas áreas;</li>
            <li>Discutir formas de ensino de processamento de alto desempenho nas universidades.</li>
        </ul>
        <p class="lead">O evento contará com duas trilhas: pós-graduação e iniciação científica.</p>
    </div>
</section>

<!-- datas importantes -->
<section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Datas importantes</h2>
        <ul class="mt-4">
            <li>24/02/2023: Data limite para submissão das propostas de minicursos.</li>
            <li>20/03/2023 <s>13/03/2023</s>: Data limite para submissão de artigos (Fóruns de IC e PG).</li>
            <li>10/03/2023: Notificação dos minicursos aceitos.</li>
            <li>10/04/2023: Notificação dos artigos aceitos (Fóruns de IC e PG).</li>
            <li>14/04/2023: Data limite para envio da versão final dos minicursos aceitos.</li>
            <li>24/04/2023: Data limite para upload da versão final dos artigos aceitos no JEMS.</li>
            <!--      <li>Março/2022: Data limite para upload do termo de autorização de publicação (JEMS).</li>
      <li>Março/2022: Data limite para preenchimento do formulário para solicitação do voucher.</li>
      <li>Março/2022: Data limite para Inscrição de autores no ECOS</li>
      <li>Março/2022: Data limite para envio do da versão final do texto dos minicursos.</li>
      <li>Abril/2022: Data limite para envio dos slides e códigos dos minicursos.</li>-->
            <li>10-12/05/2023: Período de realização da ERAD/RS 2023.</li>
        </ul>
    </div>
</section>

<section id="sobre_sbc">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Sobre a SBC</h2>
        <p class="lead">
            A <strong>Sociedade Brasileira de Computação - SBC</strong> é uma Sociedade Científica sem fins lucrativos, fundada em
            julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e
            Informática de todo o país.
        </p>
        <p class="lead">
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital,
            incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com
            responsabilidade social.
        </p>
        <p class="lead">
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém
            uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os
            Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
        </p>
        <p class="lead">
            Aqui você está acessando o site de uma das
            <strong>Comissões Especiais (CE) da SBC</strong>, que representa um grupo de associados da SBC que compartilham dos
            interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas
            <a href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões Especiais (CE)</a>
            da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade
            <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a>
            e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
        </p>
    </div>
</section>

<!-- novidades -->
<!-- <section class="jumbotron jumbotron-fluid" id="dark-card">
    <div class="pb-1 container col-sm-12 col-lg-8 text-justify">
        <h2>Novidades</h2>

        {% assign news = site.data.news.news %}

        <ul class="mt-4">
            {% for news_record in news %}
            <li><b>{{ news_record.date }}</b>: {{ news_record.text }}</li>
            {% endfor %}
        </ul>
    </div>
</section> -->

<!-- footer -->
